{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Contáctenos</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    /* Ajustes adicionales si es necesario */
    .dropdown-menu.custom-dropdown {
      right: auto;
      left: 0;
      transform: translateX(-50%);
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">BigFoot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clima' %}">Clima</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mis_productos' %}">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactenos' %}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quienes_somos' %}">Sobre Nosotros</a>
        </li>
      </ul>
    </div>
    <span class="cart-icon"><a href="{% url 'carro_compra' %}">&#128722;</a></span>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cuenta
      </a>
      <div class="dropdown-menu custom-dropdown p-3" aria-labelledby="navbarDropdown">
        <form class="px-4 py-3" id="login-form">
          <div class="form-group">
            <label for="loginEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="loginPassword">Contraseña</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña">
          </div>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="register-link" data-toggle="modal" data-target="#registerModal">¿Nuevo aquí? Regístrate</a>
      </div>
    </li>
  </nav>

  <div class="container mt-5">
    <h2>Contáctenos</h2>
    <form id="contactForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name">
        <div id="nameError" class="invalid-feedback">El nombre debe tener entre 3 y 20 caracteres.</div>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" id="email">
        <div id="emailError" class="invalid-feedback">Ingrese un correo electrónico válido.</div>
      </div>
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="tel" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea class="form-control" id="message" rows="5"></textarea>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="newsletter">
        <label class="form-check-label" for="newsletter">Suscribirme al boletín</label>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>

  <!-- Modal para el registro -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="register-form">
                    <div class="form-group">
                        <label for="registerFirstName">Nombre</label>
                        <input type="text" class="form-control" id="registerFirstName" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="registerLastName">Apellido</label>
                        <input type="text" class="form-control" id="registerLastName" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <label for="registerEmail">Correo electrónico</label>
                        <input type="email" class="form-control" id="registerEmail" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Contraseña</label>
                        <input type="password" class="form-control" id="registerPassword" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <label for="registerPasswordConfirm">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="registerPasswordConfirm" placeholder="Confirmar Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>


  <footer class="footer mt-5">
    <div class="container text-center">
      <span class="text-muted">&copy; 2024 Tienda Online. Todos los derechos reservados.</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static '/js/contact_validation.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var loginLink = document.getElementById('register-link');
      var registerLink = document.getElementById('login-link');
      var loginForm = document.getElementById('login-form');
      var registerForm = document.getElementById('register-form');

      // Lógica de mostrar/ocultar los formularios dentro del modal
      loginLink.addEventListener('click', function (e) {
        e.preventDefault();
        $('#registerModal').modal('show');
      });

      registerLink.addEventListener('click', function (e) {
        e.preventDefault();
        $('#registerModal').modal('hide');
        $('#loginModal').modal('show');
      });
    });
  </script>
</body>
</html>
